.draft
{
    font-size: 20px;
    border: 1px dotted #333;
    display: inline-block;
    text-align: center;

    width: 32px;
    height: 32px;

    background-color: #fff;
    border-radius: 16px;

    z-index: -1;
}

.draft:not(.sprite)
{
    content: "?";
}

.draft.sprite
{
    background-color: #fafafa;
    border-radius: 0px;
    border: 0px;
    z-index: 1;
}

.draft.sprite:hover
{
    opacity: 0.5;
}

body
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}