.sprite {
    background-image: url(https://dl.dropboxusercontent.com/u/70382015/Doto/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 32px;
    height: 32px;
    z-index: 1;
}

.sprite.gray, .sprite.disabled {
    filter: grayscale();
    -webkit-filter: grayscale();
    /*background-image: url(https://dl.dropboxusercontent.com/u/70382015/Doto/spritesheet-grayscale.png);*/
}

[data-sprite="Abaddon"] {
    background-position: -5px -5px;
}

[data-sprite="Alchemist"] {
    background-position: -47px -5px;
}

[data-sprite="Ancient_Apparition"] {
    background-position: -89px -5px;
}

[data-sprite="Anti-Mage"] {
    background-position: -131px -5px;
}

[data-sprite="Axe"] {
    width: 30px;
    height: 30px;
    background-position: -173px -5px;
}

[data-sprite="Bane"] {
    background-position: -213px -5px;
}

[data-sprite="Batrider"] {
    background-position: -255px -5px;
}

[data-sprite="Beastmaster"] {
    background-position: -297px -5px;
}

[data-sprite="Bloodseeker"] {
    background-position: -339px -5px;
}

[data-sprite="Bounty_Hunter"] {
    background-position: -381px -5px;
}

[data-sprite="Brewmaster"] {
    background-position: -5px -47px;
}

[data-sprite="Bristleback"] {
    background-position: -47px -47px;
}

[data-sprite="Broodmother"] {
    width: 27px;
    height: 31px;
    background-position: -89px -47px;
}

[data-sprite="Centaur_Warrunner"] {
    background-position: -126px -47px;
}

[data-sprite="Chaos_Knight"] {
    background-position: -168px -47px;
}

[data-sprite="Chen"] {
    background-position: -210px -47px;
}

[data-sprite="Clinkz"] {
    background-position: -252px -47px;
}

[data-sprite="Clockwerk"] {
    background-position: -294px -47px;
}

[data-sprite="Crystal_Maiden"] {
    background-position: -336px -47px;
}

[data-sprite="Dark_Seer"] {
    background-position: -378px -47px;
}

[data-sprite="Dazzle"] {
    background-position: -5px -89px;
}

[data-sprite="Death_Prophet"] {
    width: 30px;
    height: 32px;
    background-position: -47px -89px;
}

[data-sprite="Disruptor"] {
    background-position: -87px -89px;
}

[data-sprite="Doom"] {
    background-position: -129px -89px;
}

[data-sprite="Dragon_Knight"] {
    background-position: -171px -89px;
}

[data-sprite="Drow_Ranger"] {
    background-position: -213px -89px;
}

[data-sprite="Earth_Spirit"] {
    background-position: -255px -89px;
}

[data-sprite="Earthshaker"] {
    background-position: -297px -89px;
}

[data-sprite="Elder_Titan"] {
    background-position: -339px -89px;
}

[data-sprite="Ember_Spirit"] {
    background-position: -381px -89px;
}

[data-sprite="Enchantress"] {
    background-position: -5px -131px;
}

[data-sprite="Enigma"] {
    background-position: -47px -131px;
}

[data-sprite="Faceless_Void"] {
    background-position: -89px -131px;
}

[data-sprite="Gyrocopter"] {
    background-position: -131px -131px;
}

[data-sprite="Huskar"] {
    background-position: -173px -131px;
}

[data-sprite="Invoker"] {
    background-position: -215px -131px;
}

[data-sprite="Io"] {
    background-position: -257px -131px;
}

[data-sprite="Jakiro"] {
    background-position: -299px -131px;
}

[data-sprite="Juggernaut"] {
    background-position: -341px -131px;
}

[data-sprite="Keeper_of_the_Light"] {
    background-position: -383px -131px;
}

[data-sprite="Kunkka"] {
    background-position: -5px -173px;
}

[data-sprite="Legion_Commander"] {
    background-position: -47px -173px;
}

[data-sprite="Leshrac"] {
    background-position: -89px -173px;
}

[data-sprite="Lich"] {
    background-position: -131px -173px;
}

[data-sprite="Lifestealer"] {
    background-position: -173px -173px;
}

[data-sprite="Lina"] {
    background-position: -215px -173px;
}

[data-sprite="Lion"] {
    background-position: -257px -173px;
}

[data-sprite="Lone_Druid"] {
    background-position: -299px -173px;
}

[data-sprite="Luna"] {
    background-position: -341px -173px;
}

[data-sprite="Lycan"] {
    background-position: -383px -173px;
}

[data-sprite="Magnus"] {
    background-position: -5px -215px;
}

[data-sprite="Medusa"] {
    background-position: -47px -215px;
}

[data-sprite="Meepo"] {
    background-position: -89px -215px;
}

[data-sprite="Mirana"] {
    background-position: -131px -215px;
}

[data-sprite="Morphling"] {
    background-position: -173px -215px;
}

[data-sprite="Naga_Siren"] {
    background-position: -215px -215px;
}

[data-sprite="Nature_s_Prophet"] {
    background-position: -257px -215px;
}

[data-sprite="Necrophos"] {
    background-position: -299px -215px;
}

[data-sprite="Night_Stalker"] {
    background-position: -341px -215px;
}

[data-sprite="Nyx_Assassin"] {
    background-position: -383px -215px;
}

[data-sprite="Ogre_Magi"] {
    background-position: -5px -257px;
}

[data-sprite="Omniknight"] {
    background-position: -47px -257px;
}

[data-sprite="Oracle"] {
    background-position: -89px -257px;
}

[data-sprite="Outworld_Devourer"] {
    background-position: -131px -257px;
}

[data-sprite="Phantom_Assassin"] {
    background-position: -173px -257px;
}

[data-sprite="Phantom_Lancer"] {
    background-position: -215px -257px;
}

[data-sprite="Phoenix"] {
    background-position: -257px -257px;
}

[data-sprite="Puck"] {
    background-position: -299px -257px;
}

[data-sprite="Pudge"] {
    background-position: -341px -257px;
}

[data-sprite="Pugna"] {
    background-position: -383px -257px;
}

[data-sprite="Queen_of_Pain"] {
    background-position: -5px -299px;
}

[data-sprite="Razor"] {
    background-position: -47px -299px;
}

[data-sprite="Riki"] {
    background-position: -89px -299px;
}

[data-sprite="Rubick"] {
    background-position: -131px -299px;
}

[data-sprite="Sand_King"] {
    background-position: -173px -299px;
}

[data-sprite="Shadow_Demon"] {
    background-position: -215px -299px;
}

[data-sprite="Shadow_Fiend"] {
    background-position: -257px -299px;
}

[data-sprite="Shadow_Shaman"] {
    background-position: -299px -299px;
}

[data-sprite="Silencer"] {
    background-position: -341px -299px;
}

[data-sprite="Skywrath_Mage"] {
    background-position: -383px -299px;
}

[data-sprite="Slardar"] {
    background-position: -5px -341px;
}

[data-sprite="Slark"] {
    background-position: -47px -341px;
}

[data-sprite="Sniper"] {
    background-position: -89px -341px;
}

[data-sprite="Spectre"] {
    background-position: -131px -341px;
}

[data-sprite="Spirit_Breaker"] {
    background-position: -173px -341px;
}

[data-sprite="Storm_Spirit"] {
    background-position: -215px -341px;
}

[data-sprite="Sven"] {
    background-position: -257px -341px;
}

[data-sprite="Techies"] {
    width: 30px;
    height: 31px;
    background-position: -299px -341px;
}

[data-sprite="Templar_Assassin"] {
    background-position: -339px -341px;
}

[data-sprite="Terrorblade"] {
    background-position: -381px -341px;
}

[data-sprite="Tidehunter"] {
    background-position: -5px -383px;
}

[data-sprite="Timbersaw"] {
    background-position: -47px -383px;
}

[data-sprite="Tinker"] {
    background-position: -89px -383px;
}

[data-sprite="Tiny"] {
    background-position: -131px -383px;
}

[data-sprite="Treant_Protector"] {
    background-position: -173px -383px;
}

[data-sprite="Troll_Warlord"] {
    background-position: -215px -383px;
}

[data-sprite="Tusk"] {
    background-position: -257px -383px;
}

[data-sprite="Undying"] {
    background-position: -299px -383px;
}

[data-sprite="Ursa"] {
    background-position: -341px -383px;
}

[data-sprite="Vengeful_Spirit"] {
    background-position: -383px -383px;
}

[data-sprite="Venomancer"] {
    background-position: -423px -5px;
}

[data-sprite="Viper"] {
    background-position: -420px -47px;
}

[data-sprite="Visage"] {
    background-position: -423px -89px;
}

[data-sprite="Warlock"] {
    background-position: -425px -131px;
}

[data-sprite="Weaver"] {
    background-position: -425px -173px;
}

[data-sprite="Windranger"] {
    background-position: -425px -215px;
}

[data-sprite="Winter_Wyvern"] {
    background-position: -425px -257px;
}

[data-sprite="Witch_Doctor"] {
    background-position: -425px -299px;
}

[data-sprite="Wraith_King"] {
    background-position: -423px -341px;
}

[data-sprite="Zeus"] {
    background-position: -425px -383px;
}
