html
  head
    title Dota Draft
    = include_gon
    = stylesheet_link_tag "application", params[:controller], :media => "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", params[:controller], "data-turbolinks-track" => true
    link rel="shortcut icon" href="favicon.png"
    = csrf_meta_tags
  body
    .container
      .header
        h3.text-muted.text-center 
          img src="#{src_path('dota2.png')}" alt="Dota 2" height="32" width="32"
          | Dota Draft
      = yield 
      .footer
        p &copy; Ariel - 2015
